 
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;
 
 
html, body {
  height: auto; /* deja que el body crezca con el contenido */
  min-height: 100%; /* asegura que al menos llene la pantalla */
  overflow-x: hidden;
  overflow-y: auto; /* permite scroll vertical si el contenido es largo */
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
